.titulo{
	margin:0 auto;
	color: blue;
	font-size: 2em;
	text-align: center;
}

.menu{
	position: relative;
	float:left;
}

.menu ul{
	list-style:none;
}

.formulario{
	
	position: relative;
	text-align: center;
	
}

.izquierda{
	position: relative;
	float:left;
	
}